extends layout
include mixins/newProject

block content
    .contenido-principal
        if(project)
            h1 #{pageName}: #{project.name}
        else
            h1 #{pageName}
        if errors
            each error in errors
                .alerta.error= error.text
        +newProject(project)