<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= pageName
            p Agrega tu nueva contraseña
            form.caja-login(action="" method="POST")
                .campo
                    label(for="password") Contraseña:
                    input(type="password" name="password" placeholder="Contraseña" )
                .campo.enviar
                    input(type="submit" value="Restablecer contraseña").boton
                .campo.acciones
                    a(href="/login") Volver a iniciar sesión