extends layout

block content
    .contenido-principal
        h1 #{pageName} - #{project.name}

        .contenedor-acciones
            a(href=`/project/edit/${project.id}`).boton Editar Proyecto
            a(href=`/project/delete/${project.id}`).boton.eliminar Eliminar Proyecto
        