<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Confirmar tu cuenta en UpTaskMM
        p Ya estás casi registrado, solo tenés que presionar el siguiente botón
        a(href=`${confirmUrl}`) Click acá
        p Si no podés acceder a este enlace, visitá #{confirmUrl}
        p Si no solicitaste este email, podés ignorarlo. 