<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Recuperar contraseña
        p Hola, solicitaste reestablecer tu contraseña, hacé click en el siguiente enlace para redirigirte y hacerlo
        p Este enlace es temporal, si se vence volvé a solicitarlo
        a(href=`${resetUrl}`) Click acá
        p Si no podés acceder a este enlace, visitá #{resetUrl}
        p Si no solicitaste este email, podés ignorarlo. 